body {
    background-color:#000;
    color: #fff;
    font-family: arial;
}
h1{
    color:grey;
    font-family: verdana;
}
.maindiv{
    background-color: #fff;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
    margin: 50px auto;
    color: #000;
}
#footer{
    margin: 0 auto;
    text-align: center;
}


